body {
  margin: 0;
  font-family: rubik;
  background-image: url("./assets/vecteezy_grey-stone-texture-background_1741951.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
